<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression suite part #1">

    <test name="Regression tests part #1">
        <classes>
            <class name="regression_tests.RegressionTestClass"/>
            <class name="regression_tests.RegressionTestClassPartTwo"/>
        </classes>
    </test>
</suite>